@import "tailwindcss";


@layer base {
  :root {
    --color-primary: #1E3A8A;
    --color-secondary: #B91C1C;
    --color-accent: #FBBF24;
    --color-accent-dark: #D97706;
    --color-bg: #FAFAFA;
    --color-text: #1F2937;
    --color-on-primary: #FFFFFF;
    --color-link: #2563EB;
  }
}

@font-face {
  font-family: '0022 Arpa';
  src: url('/fonts/0022-arpa.ttf') format('truetype');
}
.font-school {
  font-family: poppins, sans-serif;
}


@layer utilities {
  .bg-primary { background-color: var(--color-primary); }
  .bg-secondary { background-color: var(--color-secondary); }
  .bg-accent { background-color: var(--color-accent); }
  .bg-accentDark { background-color: var(--color-accent-dark); }
  .bg-bg { background-color: var(--color-bg); }

  .text-primary { color: var(--color-primary); }
  .text-secondary { color: var(--color-secondary); }
  .text-accent { color: var(--color-accent); }
  .text-text { color: var(--color-text); }
  .text-onPrimary { color: var(--color-on-primary); }
  .text-link { color: var(--color-link); }
}

body{
  font-family: poppins;
}
html, body {
  overflow-y: hidden;
}
